@use "_base";

.main {
}
.calc {
    max-width: 250px;
    margin: 20px auto 0px;
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-auto-rows: 50px;
    gap: 10px;
    &__input {
        grid-column: span 4;
        
    }
    &__button {
        &_one {
            grid-row: 4/5;
            grid-column: 1/2;
            
        }
        &_two {
            grid-row: 4/5;
            grid-column: 2/3;
        }
        &_three {
            grid-row: 4/5;
            grid-column: 3/4;
        }
        &_four {
            grid-row: 3/4;
            grid-column: 1/2;
        }
        &_five {
            grid-row: 3/4;
            grid-column: 2/3;
        }
        &_six {
            grid-row: 3/4;
            grid-column: 3/4;
        }
        &_seven {
            grid-row: 2/3;
            grid-column: 1/2;
        }
        &_eight {
            grid-row: 2/3;
            grid-column: 2/3;
        }
        &_nine {
            grid-row: 2/3;
            grid-column: 3/4;
        }
        &_zero {
            grid-row: 5/6;
            grid-column: 1/2;
        }
        &_bracket-open {
            grid-row: 5/6;
            grid-column: 2/3;
        }
        &_bracket-close {
            grid-row: 5/6;
            grid-column: 3/4;
        }
        &_add {
            grid-row: 5/6;
            grid-column: 4/5;
        }
        &_sub {
            grid-row: 4/5;
            grid-column: 4/5;
        }
        &_mult {
            grid-row: 3/4;
            grid-column: 4/5;
        }
        &_div {
            grid-row: 2/3;
            grid-column: 4/5;
        }
        &_reset {
            grid-row: 6/7;
            grid-column: 1/2;
        }
        &_delete {
            grid-row: 6/7;
            grid-column: 2/3;
        }
        &_result {
            grid-row: 6/7;
            grid-column: 3/5;
        }
    }
}

